@use "../themebase/typography" as *;
@use "../themebase/colours" as *;
@use "../themebase/mediaqueries" as *;
@use "../themebase/mixins" as *;

body {
  margin: 0;
  padding: 0;
}
.site {
  height: 100%;
}

.skiplink {
  position: absolute;
  background-color: $coral;
  border-radius: 72px;
  // z-index: 3;
  left: 0;
  top: 0;
  padding: 20px;
  font-size: 1.25rem;
  transform: translateX(-100%);
  &:focus {
    transform: translateX(0%);
  }
}
header {
  z-index: 30;
  padding: 2rem 2rem 0 2rem;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: $cream;
  transition: background-color 0.15s ease-in;
  display: flex;
  flex-direction: column;

  @include media(sm) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  // @include media(md){
  // 	justify-content: space-between;
  // }
  @include media(lg) {
    padding-left: 3rem;
    padding-top: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include media(xl) {
    padding: 1rem 5rem 0 5rem;
  }

  //basic nav styles, aria-based styles are below
  nav {
    ul {
    }
    // border: 3px solid seagreen;
    z-index: 10;
    top: 35px;
    position: fixed;

    a {
      color: $darkBrown !important;
      font-style: italic;
    }
    .atl-nav-container {
      box-shadow: 1px -1px 10px -1px rgba(0, 0, 0, 0.2);

      height: 100%;
      padding-left: 1.5rem;
      padding-top: 2rem;
      width: 100%;
      position: relative;
      margin-top: 18rem;
      @include media-query-min($sm) {
        padding-left: 60px;
        margin-top: 10rem;
      }
      @include media-query-min($md) {
        padding-left: 100px;
      }
      .navbar-nav {
        width: 100%;
        padding-top: 2rem;
        margin-left: 0 !important;
        overflow: scroll;
      }
      a {
        font-weight: 400;
        &:hover {
          text-decoration: none;
        }
      }
    }

    &[aria-hidden="true"] {
      top: 0;
      left: -200%;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease-in-out;
      .menu-item {
        left: -20px;
        transition: all 0.5s ease-in-out;
      }
    }
    &[aria-hidden="false"] {
      top: 36px;
      left: 0;
      opacity: 1;
      visibility: visible;
      width: 100%;
      height: 100%;
      transition: all 0.5s ease-in-out;
      background-color: $coral;
      // overflow: auto;
      .menu-main-menu-container {
        height: 95%;
        // margin-top: 15rem;
        // overflow: auto;
      }
      @for $i from 1 to 10 {
        .menu-item:nth-child(#{$i}) {
          left: 0;
          transition: all 0.5s ease-in-out;
          transition-delay: $i * 0.15s;
        }
      }
    }

    ul.main {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: auto;
      width: 100%;
      position: relative;
    }
    .main > li {
      // border: 2px solid salmon;
      width: 95%;
      font-size: 2.4rem;
      margin: 1.5rem;
      margin-bottom: 10px;
      font-family: $headerFont;

      @include media-query-min($sm) {
        font-size: 40px;
        margin-bottom: 30px;
      }
      @include media-query-min($md) {
        font-size: 48px;
      }
    }
  }
  .menu-item-has-children {
    button {
      position: relative;
      border: 0;
      background: transparent;
      top: 0px;
      left: 0.5rem;
      &:after {
        content: "";
        margin-left: 10px;
        display: inline-block;
        border-left: 2px solid $darkBrown;
        border-bottom: 2px solid $darkBrown;
        width: 1.5rem;
        height: 1.5rem;
        transition: all 0.25s ease-in-out;
        transform: rotate(-135deg); /* Point in the direction you want */
      }
      &[aria-expanded="true"] {
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .top-level-subnav {
    // border: 2px solid orangered;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
    position: relative;
    visibility: hidden;
    margin-left: auto;
    left: 0;
    padding: 0;
    list-style: none;
    max-height: 1px;
    width: 95%;
    @include media-query-min($sm) {
      position: absolute;
      width: 65%;
      margin-left: auto;
    }
    transition: max-height 0.25s ease-in-out;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    list-style: none;
    &[aria-hidden="false"] {
      position: relative;
      visibility: visible;
      right: 0;
      top: 5rem;
      width: 95%;
      height: 100%;
      max-height: 100%;
      // overflow: auto;
      clip: auto;
      transition: max-height 0.25s ease-in-out;
      @include media-query-min($sm) {
        position: absolute;
        width: 65%;
        margin-left: auto;
      }
      @for $i from 1 to 10 {
        li:nth-child(#{$i}) {
          opacity: 1;
          transition: opacity 0.5s ease-in-out;
          transition-delay: $i * 0.15s;
        }
      }
    }
    a {
      font-size: 2rem;
    }
  }
}

.second-level-subnav {
  // border: 2px solid orchid;
  // -ms-overflow-style: none;
  // scrollbar-width: none;
  // overflow-y: auto;
  position: relative;
  visibility: hidden;
  right: 0;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
  max-height: 1px;
  width: 85%;
  transition: all 0.25s ease-in-out;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  &[aria-hidden="false"] {
    visibility: visible;
    // top: 0;
    height: 100%;
    max-height: 100%;
    // overflow: auto;
    clip: auto;
    transition: all 0.25s ease-in-out;
  }
}

//styles from original ATL to get nav looking right

//header left

.navbar-brand {
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
  font-family: $logoType;
  font-size: 2.5rem;
  padding-top: 0.5rem;
  color: $darkBrown;
  position: relative;
  z-index: 30;
  @include font-size(3.2);
  @include media-query-min($sm) {
    @include font-size(4.2);
  }
}

//header buttons
.header-buttons {
  z-index: 30;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.search-field--custom {
  input {
    border: 2px solid $lightGreen;
    background: rgba($cream, 0.5);
    font-size: 16px;
    width: 10rem;
    color: $grey;
    font-family: $bodyFont;
    padding: 10px 20px;
    border-radius: 25px;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    @include media-query-min($sm) {
      width: 12rem;
    }
  }
  .input-group-append {
    display: none;
  }
}
.mini-cart {
  display: block;
  font-size: 16px;
  line-height: 1;
  padding: 0 5px 0 12px;
}

//from scratch hamburger menu
.btn-nav {
  border: 0px;
  position: relative;
  width: 5rem;
  height: 5rem;
  z-index: 50;
  right: 0;
  // top: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  &:hover {
    background-color: transparent;
    border: 0px;
  }
  span {
    position: relative;
    border: 2px solid $grey;
    display: block;
    width: 4rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    background: $grey;
  }
  &[aria-expanded="true"] {
    .burger-1 {
      position: relative;
      transform: rotate(-45deg);
      top: 15px;
      left: 0;
      transition: all 0.2s ease-in-out;
    }
    .burger-2 {
      position: relative;
      left: 150px;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
    }
    .burger-3 {
      position: relative;
      top: -7px;
      transform: rotate(45deg);
      transition: all 0.2s ease-in-out;
    }
  }
  &[aria-expanded="false"] {
    .burger-1 {
      transform: rotate(0deg);
      transition: all 0.2s ease-in-out;
    }
    .burger-2 {
      overflow: hidden;
      transition: all 0.2s ease-in-out;
    }
    .burger-3 {
      transform: rotate(0deg);
      transition: all 0.2s ease-in-out;
    }
  }
}
