@use "../themebase/typography" as *;
@use "../themebase/colours" as *;
@use "../themebase/mediaqueries" as *;
@use "../themebase/mixins" as *;

//this takes the base styles from the home hero and modifies them. might not actually be more efficient
.blog-hero-container {
  margin-bottom: 5rem;
  background: transparent;
  text-align: left;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 0;

  .blog--title {
    color: $cream;
    position: relative;
    margin-top: auto;
    padding-bottom: 3rem;
    text-align: left;
    line-height: 1;
    @include media-query-min($md) {
      font-size: 12rem;
    }
  }
}

.post-navigation {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  margin: 60px auto;
  font-style: italic;
  font-weight: 600;
  .nav-links {
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem;
    a {
      font-size: 20px;
      font-family: $bodyFont;
      font-weight: 400;
      margin-right: 30px;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @include media-query-min($sm) {
    margin-bottom: 90px;
  }
}
.nav-previous {
  text-align: left;
  width: 100%;
  @include media-query-min($sm) {
    width: initial;
  }
}
.nav-next {
  text-align: right;
  width: 100%;
  margin-top: 3rem;
  @include media-query-min($sm) {
    width: initial;
    margin-top: initial;
  }
}
.fa-angle-left,
.fa-angle-right {
  display: none;
}

.pagination {
  // width: 60%;
  margin: 60px auto;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $bodyFont;
  text-align: center;
  a {
    margin: 0 10px;
    &:first-child {
      text-decoration: none;
      &:after {
        content: "\27F5";
        font-size: 35px;
        margin-left: 15px;
      }
    }
    &:last-child {
      text-decoration: none;
      &:before {
        content: "\27F6";
        font-size: 35px;
        margin-right: 15px;
      }
    }
  }
}

.blog-listing--inner {
  border-bottom: 2px solid $grey;
}
