@use "../themebase/typography" as *;
@use "../themebase/colours" as *;
@use "../themebase/mediaqueries" as *;

.careers-container,
.service-single--container {
  h2 {
    margin-bottom: 3rem;
  }
  ul {
    margin: 50px 20px;
    padding: 0;
    li {
      list-style: none;
      &:before {
        content: "\27F6";
        margin-right: 10px;
      }
    }
  }
}
.job-requirements {
  margin-top: 5rem !important;
}
.job-considerations {
  margin: 40px 20px;
  @include media-query-min($sm) {
    margin: 70px 20px;
  }
}
