@use "../themebase/typography" as *;
@use "../themebase/colours" as *;
@use "../themebase/mediaqueries" as *;

footer {
  color: $darkBrown;
  position: relative;
  overflow: hidden;
  background: $green;
  flex-direction: column;

  .h1 {
    font-weight: 600;
  }
  .nf-form-title > h3 {
    margin-top: 0 !important;
  }
  .footer--left {
    position: relative;
    background: $coral;
    padding: 3.5rem;
    p,
    h3 {
      position: relative;
      z-index: 10;
    }
  }
  .footer--right {
    position: relative;
    padding: 3.5rem;
    .footer--right_inner {
      position: relative;
      z-index: 10;
    }
  }
  @include media-query-min($sm) {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    .footer--left {
      width: 50%;
      padding: 5.5rem;
      p {
        margin-right: 4.5rem;
        margin-top: 4rem;
      }
    }
    .footer--right {
      width: 50%;
      background: $green;
      padding: 5.5rem;
      .footer--right_inner {
        width: 75%;

        margin-left: auto;
      }
    }
  }
  @include media-query-min($md) {
    .footer--left {
      width: 50%;
      padding: 7.5rem 7.5rem 5rem 7.5rem;
      p {
        margin-right: 6.5rem;
      }
    }
    .footer--right {
      width: 50%;
      background: $green;
      padding: 7.5rem 7.5rem 5rem 7.5rem;
    }
  }

  .footer--sign-up .ninja-forms-field .nf-element {
    border: 1px solid $darkBrown !important;
    background-color: $cream !important;
  }
  .footer--sign-up,
  .terms {
    margin: 0;
    text-align: left;
    font-style: italic;
  }

  .footer--socials {
    margin-bottom: 20px;
    margin-top: 20px;
    ion-icon,
    .icon-large {
      color: $darkBrown;
      width: 40px;
      height: 40px;
      margin: 0 5px;
    }
  }
  .footer--hours {
    max-width: 300px;
    margin-bottom: 25px;
    margin-left: 0;
    p {
      line-height: 30px;
    }
    h3 {
      display: table;
      border-bottom: 1px solid $grey;
    }
  }
  .footer--contact-us {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 25px;
    p {
      line-height: 16px;
    }
    .footer-email {
      display: table;
      &:hover {
        box-shadow: 0 1px 0 0 $grey;
      }
    }
    h3 {
      display: table;
      border-bottom: 1px solid $grey;
    }
    @include media-query-min($sm) {
      background: transparent;
      left: 0;
      padding: 0;

      margin-bottom: 0;
    }
  }
  input {
    border-radius: 25px;
    padding: 5px 10px;
  }
}

.cream-circle_footer {
  background: $cream;
  width: 30rem;
  position: absolute;
  height: 30rem;
  bottom: -8px;
  right: 0px;
  border-radius: 50%;
  z-index: 0;
  @include media-query-min($sm) {
    left: 50%;
    transform: translateX(-50%);
    width: 30rem;
  }
}
.footer-peach {
  position: absolute;
  height: 30rem;
  width: 40%;
  bottom: 0px;
  right: 0px;
  img {
    margin: 0 auto;
  }

  @include media-query-min($sm) {
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

    max-height: 40rem;
    width: 20%;
  }
}

.timeline-InformationCircle-widgetParent {
  display: none !important;
}

.entry-footer {
  display: none;
}

.nf-form-content .ninja-forms-field {
  height: 5rem !important;
}
