@use "../themebase/typography" as *;
@use "../themebase/colours" as *;
@use "../themebase/mediaqueries" as *;

//new listing block for services

.service-block__image {
  max-height: 50rem;
  figure {
    height: 100%;
    aspect-ratio: 2/1.5;
    @include media-query-min($sm) {
      aspect-ratio: initial;
    }
    img {
      border-radius: 30px;
    }
  }
}
.service-block__container {
  a {
    color: $darkBrown !important;
  }
  .understrap-read-more-link {
    display: none;
  }
  color: $darkBrown;
  position: relative;
  display: flex;
  min-height: 0;
  padding: 4rem;
  @include media-query-min($sm) {
    flex-direction: row;
    padding: 8rem;
  }
  .btn--square {
    border-radius: 20px !important;
    align-self: flex-start;
    font-size: 20px;
  }
  &:nth-child(odd) {
    align-items: center;
    flex-direction: column;
    // border: 3px solid purple;
    @include media-query-min($sm) {
      flex-direction: row;
      z-index: 10;
    }
    .service-block__image--odd {
      aspect-ratio: 2/1.5;
      width: 100%;
      @include media-query-min($sm) {
        aspect-ratio: 1/2;
        width: 35%;
      }
    }
    .service-block__image--even {
      display: none;
      visibility: hidden;
    }
    .service-block__text {
      @include media-query-min($sm) {
        padding-left: 2rem;
      }
    }
  }
  &:nth-child(2) {
    background-image: linear-gradient($yellow, $cream);
  }
  &:nth-child(4) {
    background-image: linear-gradient($green, $cream);
  }
  &:nth-child(6) {
    background-image: linear-gradient($yellow, $cream);
  }
  &:nth-child(8) {
    background-image: linear-gradient($green, $cream);
  }
  &:nth-child(10) {
    background-image: linear-gradient($yellow, $cream);
  }

  &:nth-child(even) {
    position: relative;
    flex-direction: column;
    // border: 3px solid blue;
    @include media-query-min($sm) {
      top: -10rem;
      align-items: flex-start;
      flex-direction: column-reverse;
    }
    .service-block__image--even {
      display: none;
      visibility: hidden;
      @include media-query-min($sm) {
        display: block;
        visibility: visible;
      }
    }
    .service-block__image--odd {
      @include media-query-min($sm) {
        display: none;
        visibility: hidden;
      }
    }
    .service-block__image {
      // border: 2px solid red;
      aspect-ratio: 2/1.5;
      @include media-query-min($sm) {
        margin-left: auto;
        width: 55%;
        margin-top: 5rem;
        align-self: flex-end;
        aspect-ratio: 2/1;
      }
    }
    .text--inner {
      @include media-query-min($sm) {
        width: 42%;
      }
    }
  }
}

.service-block__text {
  width: 100%;
  // border: 2px solid gold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.text-image {
  //border: 2px solid seagreen;
  display: flex;
  @include media-query-min($sm) {
    align-items: center;
  }
  .text--inner p {
    font-size: 2rem;
    line-height: 125%;
    @include media-query-min($sm) {
      font-size: 3rem;
      align-items: center;
    }
    @include media-query-min($lg) {
      font-size: 4rem;
    }
  }
}
.btn--listing {
  margin-top: 1rem;
}

//old listing block just in case they want to keep it

.block-container {
  //   border: 2px solid orange;
  align-items: center;
  transform: translateX(-10%);
  display: flex;
  flex-direction: column;
  // margin-bottom: 30px;
  position: relative;

  @include media-query-min($md) {
    margin-bottom: 80px;
    flex-direction: row;
    transform: translateX(10%);
  }
  .block-image {
    width: 300px;
    height: 300px;
    img {
      object-fit: cover;
      height: 100%;
    }
  }
  .block-text {
    box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 85px;
    top: -90px;
    width: 205px;
    text-align: center;
    background: rgba($cream, 0.8);
    padding: 30px 15px;
    @include media-query-min($md) {
      left: -40px;
      top: -20px;
    }
    p {
      font-size: 16px;
      line-height: 30px;
    }
    h3 {
      font-family: $headerFont;
    }
  }
}

//CC Accordion styles for new FAQs

ion-icon {
  color: black;
  font-size: 4rem;
  transition: all 0.25s ease-in-out;
}

.accordion {
  margin-bottom: 5rem;
  @include media-query-min($md) {
    margin-bottom: 10rem;
  }
  a {
    font-weight: 600;
    color: $bannerGreen;
    &:hover {
      text-decoration: underline;
    }
  }
  .accordion-list {
    border: 1px solid $coral;
    button {
      border: 0px;
      display: flex;
      justify-content: space-between;
    }
    padding-left: 0;
    .question {
      text-align: left;
      font-size: 2.5rem;
      margin-top: 0;
      @include media-query-min($sm) {
        font-size: 3rem;
      }
      @include media-query-min($md) {
        font-size: 4rem;
      }
      @include media-query-min($lg) {
        font-size: 6rem;
      }
    }
    .accordion-item {
      border-bottom: 1px solid $coral;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      &:last-child {
        border-bottom: 0px;
      }
      &[aria-expanded="false"] {
        overflow: hidden;
        height: 12.8rem;
        transition: all 0.25s ease-in-out;
        .answer {
          visibility: hidden;
          padding: 0rem;
          opacity: 0;
          position: relative;
          display: inline-table;
          max-width: 100%;
          width: 100%;
          overflow: hidden;
          transition: all 0.25s;
          height: 0rem;
        }
      }
      .icon {
        transform: rotate(0deg);
        transition: all 0.25s ease-in-out;
        width: 5.5rem;
      }
      &[aria-expanded="true"] {
        transition: all 0.25s ease-in-out;
        overflow: visible;
        ion-icon {
          transform: rotate(90deg);
          transform-origin: 50% 50%;
          transition: all 0.25s ease-in-out;
        }
        .answer {
          height: 100%;
          width: 100%;
          padding: 3rem;
          position: relative;
          opacity: 1;
          visibility: visible;
          overflow: visible;
          transition: all 0.25s;
          // border-top: 1px solid green;
        }
      }
    }
    .item--inner,
    .answer {
      width: 100%;
      padding: 3rem;
      // border: 1px solid $coral;
      margin: 0;
      background-color: transparent;
    }
    .item--inner[aria-expanded="false"] {
      overflow: hidden;
    }
    .item--inner[aria-expanded="true"] {
      overflow: hidden;
    }
  }
}

/// Access and Blog listing block ///

.access-block--container {
  border-bottom: 2px solid $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  @include media-query-min($sm) {
    padding: 30px;
  }
}
.access-grid--container {
  position: relative;
  margin-bottom: 50px;
  display: grid;
  grid-gap: 10px;
  grid-column-gap: 0px;
  grid-template-columns: repeat(1);
  grid-auto-rows: 33px;
  @include media-query-min($sm) {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
  .access-block--outer {
    max-width: 100%;
    &:last-child {
      border-bottom: 0px;
    }
  }
}

.vertline {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  border: 1px solid $grey;
  display: none;
  @include media-query-min($sm) {
    display: block;
  }
}
