@use "../themebase/typography" as *;
@use "../themebase/colours" as *;
@use "../themebase/mediaqueries" as *;

.woocommerce ul.products li.product a img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 1em;
  box-shadow: none;
  // border-radius: 50%;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  text-align: left;
  span {
    margin-top: 0;
    color: $darkBrown;
  }
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h2 {
  font-size: 3rem;
  font-weight: 400;
  color: $darkBrown;
  font-size: 1.8rem !important;
  padding: 0 !important;
  @include media-query-min($md) {
    font-size: 2.2rem !important;
  }
}
.wcpscwc-product-slider .products li {
  padding: 0 25px !important;
}
.add-to-cart-container {
  display: none;
}
.section--shop-slider {
  padding: 50px 0;
  a {
    margin: 0 auto;
    button {
      margin: 0 auto;
    }
  }
}

.related .products {
  // border: 2px solid salmon;
  .product .price {
    margin: 0;
  }
}

.product > section {
  display: flex !important;
  width: 100%;
  flex-direction: column;
  // border: 2px solid goldenrod;
  padding-top: 50px;
}
.price {
  color: $grey !important;
  font-size: 20px !important;
  font-weight: 200;
  margin: 25px 0;
}

.woocommerce div.product form.cart div.quantity {
  float: clear;
  margin: 15px 0;
  input {
    height: 30px;
    background: $cream;
    border-radius: 20px;
    border: 1px solid $grey;
    width: 50px;
  }
}

.woocommerce-loop-product__title {
  display: flex;
  flex-direction: column;
  &:after {
    content: "";
    border-bottom: 2px solid $grey;
    width: 30px;
    margin: 0 auto;
  }
}

.woocommerce div.product form.cart {
  display: flex;
  flex-direction: column;
}

//feature prod block on home page

.shop-section {
  margin: 5rem 0;
  @include media-query-min($md) {
    margin: 10rem 0;
  }
}
.feature-prod--inner {
  background: $coral;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .feature-prod_tag {
    text-transform: uppercase;
  }
  img {
    object-fit: cover;
    height: auto;
    max-width: 100%;
  }

  @include media-query-min($md) {
    flex-direction: row;
    align-items: center;
    height: 50rem;
  }
  .right {
    padding: 3rem;
    @include media-query-min($md) {
      width: 50%;
      max-width: 67rem;
      padding: 5rem;
      flex: 2;
    }
    h2 {
      color: $darkBrown;
      margin-top: 0;
    }
  }
  .left {
    height: 100%;
    @include media-query-min($md) {
      width: 50%;
      height: 100%;
    }
    figure {
      height: 100%;
    }
  }
}

.woocommerce-products-header {
  background: transparent;
  z-index: 0;
}
