@use "../themebase/typography" as *;
@use "../themebase/colours" as *;
@use "../themebase/mediaqueries" as *;

//targeting woo classes often doesn't work. Target containers and elements inside them for specificity
.custom-woo_container {
  // border: 2px solid gold;
  padding: 10% 2%;
  @include media-query-min($md) {
    display: flex;
    justify-content: space-evenly;
  }
  //breadcrumbs
  nav {
    display: none;
  }
  //list of supp images
  ol {
    list-style: none;
    padding: 0;
    display: flex;
  }
  //options selectors
  table {
    width: 100%;
    margin: 2.5rem 0;
    tbody {
      text-align: left;
    }
    th,
    td {
      font-size: 2rem;
      font-family: $bodyFont;
      padding: 0.5rem;
    }
    label {
      font-weight: 600;
      font-style: italic;
    }
    select {
      width: 100%;
      margin-right: 0.5rem;
      border-radius: 0.8rem;
      height: 5rem;
      a {
        position: relative;
        left: 0.5rem;
      }
    }
  }
  //container around images plus summary
  .d-flex {
    // border: 3px solid peachpuff;
    flex-direction: column;
    width: 100%;
    @include media-query-min($md) {
      flex-direction: row;
    }
  }
  //gallery
  .d-flex > :first-child {
    // border: 2px solid red !important;
    width: 100%;
    @include media-query-min($md) {
      width: 50%;
    }
  }
}

//has title, description, etc
.summary.entry-summary {
  // border: 2px solid rebeccapurple;
  width: 100%;
  padding: 2%;
  ul {
    margin: 2rem 0;
    li {
      margin-bottom: 0.5rem;
      line-height: 150%;
    }
  }
  h1 {
    line-height: 100%;
    @include media-query-min($lg) {
      font-size: 8.2rem;
    }
  }
  @include media-query-min($md) {
    width: 50%;
  }
  //not working
  input {
    line-height: 35px;
    font-size: 2rem;
    font-weight: 600;
    font-family: $bodyFont;
    text-align: center;
    border-radius: 0.8rem;
  }
}

.btn-outline-primary,
.btn-primary {
  margin-top: 2rem;
}
.in-stock {
  margin-bottom: 2rem;
}

ul.products {
  // border: 5px solid violet;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 2rem;
  }
  @include media-query-min($sm) {
    font-size: 2.5rem;
  }
  @include media-query-min($md) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    li {
      width: 23%;
    }
    h2 {
      font-size: 3rem;
    }
  }
}

//OLD should check if still in use
.woocommerce-info {
  border-top-color: $green;
  background-color: $cream;
  font-size: 18px;
  font-family: $bodyFont;
  padding-left: 0px;
  color: $grey;
  &:before {
    display: none;
  }
  a {
    font-weight: 600;
    color: $coral !important;
  }
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  border: 3px solid $coral;
  color: $grey;
  display: table;
  background: transparent;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 18px;
  transition: all 0.25s ease-in-out;
  margin-bottom: 30px;
  font-family: $bodyFont;
  a {
    font-family: $bodyFont;
    transition: all 0.25s ease-in-out;
    &:hover {
      text-decoration: none !important;
    }
  }
  &:hover {
    border: 3px solid $coral;
    background: $coral;
    transition: all 0.25s ease-in-out;
    color: $cream !important;
    a {
      text-decoration: none !important;
      color: $cream !important;
      transition: all 0.25s ease-in-out;
    }
  }
}
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  border: 2px solid $green;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background: transparent;
}

.woocommerce-billing-fields__field-wrapper {
  input {
    background: transparent !important;
    border: 2px solid $green;
    height: 40px;
  }
}
.woocommerce-additional-fields {
  textarea {
    height: 100px !important;
    background: transparent;
    border: 2px solid $green;
  }
}
.select2-container .select2-selection--single .select2-selection__rendered {
  background: $cream !important;
  border: 2px solid $green !important;
}
.select2-container--default
  .select2-results__option--highlighted[aria-selected],
.select2-container--default
  .select2-results__option--highlighted[data-selected] {
  background: $green !important;
  color: $cream !important;
}
.select2-container--default .select2-selection--single {
  border: 0px;
}
.select2-container--default .select2-results > .select2-results__options {
  background: $cream;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid $grey;
  border-radius: 5px;
}
.select2-search--dropdown {
  background: $cream;
}

.woocommerce table.shop_table {
  font-size: 16px;
  color: $grey;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  background-color: transparent;
}
.woocommerce-message {
  border-top-color: $green !important;
}

.woocommerce ul.order_details {
  margin: 0 0 3em;
  list-style: none;
  font-size: 16px;
  margin-top: 30px;
}
