@use "colours" as *;
@use "mediaqueries" as *;
@use "typography" as *;

.btn--primary > .green {
  background-color: green!important;
}
.btn--primary {
  position: relative;
  border: 2px solid $darkBrown;
  color: $darkBrown;
  display: table;
  background: transparent;
  padding: 10px 20px;
  border-radius: 35px;
 font-size: 3rem;
  transition: all 0.25s ease-in-out;
  margin-bottom: 30px;
  font-family: $bodyFont;
  font-weight: 400;
    top: 0px;
    left: 0px;
  .green   {
       border: 2px solid $bannerGreen!important;
       color: $bannerGreen!important;
       &:hover {
            box-shadow: 8px 8px 0px 0px $bannerGreen!important;
       }
 }
  
  &:hover {
    top: -3px;
    left: -3px;
    box-shadow: 8px 8px 0px 0px $darkBrown;
    transition: all 0.25s ease-in-out;
    a {
      text-decoration: none !important;
      transition: all 0.25s ease-in-out;
    }
  }
}

//submit button only
button[type="submit"] {
  border: 2px solid $darkBrown;
  color: $darkBrown;
  display: table;
  background: transparent;
  padding: 10px 20px;
  border-radius: 35px;
 font-size: 3rem;
  transition: all 0.25s ease-in-out;
  margin-bottom: 30px;
  font-family: $bodyFont;
  font-weight: 400;
  
  &:hover {
    box-shadow: 8px 8px 0px 0px $darkBrown;
    transition: all 0.25s ease-in-out;
    a {
      text-decoration: none !important;
      transition: all 0.25s ease-in-out;
    }
  }
  .btn-green   {
       border: 2px solid $bannerGreen!important;
       color: $bannerGreen!important;
       &:hover {
            box-shadow: 8px 8px 0px 0px $bannerGreen!important;
       }
 }
}





.wp-block-button__link {
  background-color: transparent;
  border-radius: 0px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125em;
  padding: 0px;
}
.btn--nav {
  padding: 5px 15px;
  font-size: 16px;
  margin-bottom: 0;
  background: rgba($cream, 0.5);
  border: 2px solid $coral;
  font-family: $bodyFont;
}
.btn-secondary {
  &:hover {
    border-color: $coral;
  }
}
.btn--text {
  justify-content: flex-end;
  align-items: center;
  i {
    font-size: 35px;
    display: flex;
    position: relative;
    left: 0;
    padding-bottom: 5px;
    transition: all 0.15s ease-in-out;
  }
  &:hover {
    i {
      left: 15px;
      transition: all 0.15s ease-in-out;
    }
  }
  .btn--primary {
    border: 0px !important;
    font-size: 25px !important;
    margin: 0px;

    box-shadow: none;

    &:hover {
      border: 0px;
      background: $cream;
      transition: all 0.15s ease-in-out;
      color: $grey !important;

      a {
        text-decoration: none !important;
        color: $grey !important;
      }
    }
  }
}
.no-btn {
  background: transparent;
  border: 0;
}
.btn--filled {
  .btn--primary {
    background: $coral;
    color: $cream !important;
    a {
      color: $cream !important;
    }
    transition: all 0.25s ease-in-out;
    &:hover {
      transition: all 0.25s ease-in-out;
      background: transparent;
      border: 3px solid $green;
    }
  }
}
.btn--back {
  h3 {
    margin-left: 25px;
    margin-top: 5px;
  }
}

.page-title {
 font-family: "degular", sans-serif;
font-weight: 600;
font-style: italic;
  margin: 60px auto;
  // flex-direction: row;
  // justify-content: center;
   @include media-query-min($sm) {
     margin: 80px;
  }
   @include media-query-min($md) {
     margin: 100px;
  }



}

.mat-drawer-container {
  background: $cream !important;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  background: $green;
  font-family: $bodyFont;
}

.geelus--custom-container {
  text-align: center;
  margin-top: 60px;
  width: 320px;
  margin: 0 auto;
  text-align: center;
  @include media-query-min($xs) {
    width: 100%;
  }
  @include media-query-min($sm) {
    width: 80%;
  }
}

.custom-search {
  input {
    :focus {
      outline: none;
    }
    height: 40px;
    border-radius: 25px;
    border: 2px solid $grey;
    background: $cream;
    padding-left: 15px;
    font-size: 16px;
    color: $grey;
    &.submit {
      background: $green;
      font-family: $bodyFont;
      padding-left: 10px;
      &:hover {
        background: $coral;
        border: 2px solid $grey;
      }
    }
  }
}

.col-2 {
  max-width: 90% !important;
  margin: 25px 0;
  @include media-query-min($sm) {
    max-width: 48% !important;
  }
}
.col-1 {
  max-width: 90% !important;
  margin: 25px 0;
}

.home-banner--container {
  position: relative;
  z-index: 99;
  background: $coral;
  font-weight: 400;
  p {
    color: $cream;
    font-size: 16px;
    line-height: 16px;
    padding: 10px;
    margin-top: 0;
  }
  box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.2);
}


img {
      max-width: 100%;
    height: 100%;
    object-fit: cover;
}

