.blog--container {
  @include media-query-min($sm) {
    margin: 80px auto;
  }
}

.post-navigation {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 60%;
  margin-bottom: 60px;
  @include media-query-min($sm) {
    margin-bottom: 90px;
  }
}
.nav-previous {
  text-align: left;
  width: 100%;
  @include media-query-min($sm) {
    width: initial;
  }
  a {
    text-decoration: none;
    font-family: $bodyFont;
    font-size: 20px;
    font-weight: 400;
    margin-left: 30px;
    width: 100%;
    &:after {
      content: "\27F5";
      font-size: 35px;
      margin-left: 15px;
    }
  }
}
.nav-next {
  text-align: right;
  width: 100%;
  @include media-query-min($sm) {
    width: initial;
  }
  a {
    text-decoration: none;
    font-size: 20px;
    font-family: $bodyFont;
    font-weight: 400;
    margin-right: 30px;
    &:before {
      content: "\27F6";
      font-size: 35px;
      margin-right: 15px;
    }
  }
}
.fa-angle-left,
.fa-angle-right {
  display: none;
}
.understrap-read-more-link {
  border: 3px solid $coral;
  background: transparent;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 18px;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
  &:hover {
    background: $coral;
    transition: all 0.15s ease-in-out;
    color: $cream;
  }
}

.pagination {
  width: 60%;
  margin: 60px auto;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $bodyFont;
  text-align: center;
  a {
    margin: 0 10px;
    &:first-child {
      text-decoration: none;
      &:after {
        content: "\27F5";
        font-size: 35px;
        margin-left: 15px;
      }
    }
    &:last-child {
      text-decoration: none;
      &:before {
        content: "\27F6";
        font-size: 35px;
        margin-right: 15px;
      }
    }
  }
}

// #masonry-effect {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }

// .item {
//   width: calc(50% - 1rem);
//   background: linear-gradient(45deg, #281dd4, #a42bff);
//   border-radius: 10px;
//   padding: 1rem;
//   font-size: 1.25rem;
//   box-sizing: border-box;
//   font-variation-settings: "wght" 600;
// }
// .item:nth-of-type(5) {
//   background: linear-gradient(45deg, #d4581d, #ffbe2b);
// }
// .item:nth-of-type(3) {
//   background: linear-gradient(45deg, #d41d71, #a42bff);
// }
// .item:nth-of-type(1) {
//   background: linear-gradient(45deg, #1d5ed4, #2bbbff);
// }
// .item:nth-of-type(9),
// .item:nth-of-type(7) {
//   background: linear-gradient(45deg, #85d41d, #2bd8ff);
// }
