.nf-form-content {
  font-family: $bodyFont;
  max-width: 500px !important;
  label {
    font-weight: 400 !important;
  }
  .ninja-forms-field {
    background: transparent !important;
    border: 1px solid $grey !important;
  }
  input[type="button"] {
    border: 3px solid $coral !important;
    color: $grey !important;
    display: table;
    background: transparent;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;
    transition: all 0.15s ease-in-out;
    margin-bottom: 30px;

    a {
      font-family: $bodyFont;
      &:hover {
        text-decoration: none !important;
      }
    }
    &:hover {
      border: 3px solid $coral;
      background: $coral !important;
      transition: all 0.15s ease-in-out;
      color: $cream !important;
      a {
        text-decoration: none !important;
      }
    }
  }
}
.nf-form-fields-required {
  display: none;
}
