.btn--primary,
button[type="submit"] {
  border: 3px solid $coral;
  color: $grey;
  display: table;
  background: transparent;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 18px;
  transition: all 0.15s ease-in-out;
  margin-bottom: 30px;
  a {
    &:hover {
      text-decoration: none !important;
    }
  }
  &:hover {
    border: 3px solid $coral;
    background: $coral;
    transition: all 0.15s ease-in-out;
    color: $cream;
    a {
      text-decoration: none !important;
    }
  }
}
.btn-secondary {
  &:hover {
    border-color: $coral;
  }
}
.btn--text {
  justify-content: flex-end;
  align-items: center;
  h3 {
    margin: 0;
  }
  i {
    font-size: 35px;
    display: flex;
    margin-right: 15px;
    padding-bottom: 10px;
  }
}

.page-title {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include media-query-min($sm) {
    flex-direction: row;
    align-items: center;
    margin-right: 65px;
    margin-bottom: 40px;
  }
  hr {
    border-color: $grey;
    border: 1px solid;
    width: 35%;
    margin-right: auto;
    margin-left: 0;
    @include media-query-min($sm) {
      margin-left: auto;
    }
  }
}
