img {
  max-width: 100%;
}

body {
  background: $cream;
}

.layout-container {
  // border: 1px solid goldenrod;
  margin: 0 auto;
  max-width: 310px;
  width: 90%;
  @include media-query-min($xs) {
    max-width: 650px;
  }

  @include media-query-min($sm) {
    max-width: 800px;
  }

  @include media-query-min($md) {
    max-width: 1000px;
  }
}

.home-hero--container {
  height: 50vh;
  @include media-query-min($md) {
    height: 100vh;
  }
  position: relative;
  overflow: hidden;
  img {
    object-fit: cover;
  }
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.section--services {
  margin-top: 80px;
}

.services--button {
  text-align: right;
  position: relative;
  top: -60px;
  left: -100px;
}

.section--accessibility {
  background: $green;
  @include media-query-min($md) {
    height: 500;
  }
  @include media-query-min($lg) {
    min-height: 500px;
    height: 80vh;
  }
  .access-text {
    width: 90%;
    padding: 25px;
    @include media-query-min($md) {
      width: 40%;
    }
    h3 {
      display: table;
      border-bottom: 1px solid $grey;
    }
  }
  .access-image {
    overflow: hidden;
    height: 90%;
    margin: 20px 0;
    @include media-query-min($md) {
      width: 60%;
    }
    img {
      object-fit: cover;
    }
  }
}
