img {
  max-width: 100%;
}

.layout-container {
  // border: 1px solid goldenrod;
  margin: 0 auto;
  max-width: 310px;

  @include media-query-min($xs) {
    max-width: 650px;
  }

  @include media-query-min($sm) {
    max-width: 800px;
  }

  @include media-query-min($md) {
    max-width: 1000px;
  }
}

.home-hero--container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
