.block-container {
  //   border: 2px solid orange;

  align-items: center;
  transform: translateX(-10%);
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  position: relative;
  @include media-query-min($md) {
    flex-direction: row;
    transform: translateX(10%);
  }
  .block-image {
    width: 225px;
    height: 225px;
    img {
      object-fit: cover;
    }
  }
  .block-text {
    box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 85px;
    top: -30px;
    @include media-query-min($md) {
      left: -40px;
      top: -50px;
    }
    width: 205px;
    text-align: center;
    background: rgba($cream, 0.8);
    padding: 30px 15px;
  }
}

.listing-block--container {
  margin-top: 150px;
  .block-outer {
    @include media-query-min($sm) {
      &:nth-child(even) {
        position: relative;
        top: -60px;
      }
    }
  }
}

/// Access and Blog listing block ///

.access-grid--container {
  .access-block--outer {
    padding: 50px;
    // border-bottom: 2px solid $grey;

    display: table;

    &:nth-child(odd) {
      &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        height: 1px;
        border-bottom: 2px solid $grey;
        width: 70%;
      }
      @include media-query-min($sm) {
        border-right: 2px solid $grey;
        position: relative;
        left: 1px;
      }
    }
    &:nth-child(even) {
      @include media-query-min($sm) {
        border-left: 2px solid $grey;
        position: relative;
        left: -1px;
      }
      &:after {
        content: "";
        position: absolute;
        right: 0;
        @include media-query-min($sm) {
          left: 0;
        }
        bottom: 0;
        height: 1px;
        border-bottom: 2px solid $grey;
        width: 70%;
      }
    }
    &:last-child {
      border-bottom: 0px;
    }
  }
}
