.navbar-brand {
  width: 80px;
  height: 80px;
}

.navbar {
  background: transparent !important;
  position: absolute;
  z-index: 5;
  width: 100%;
  // border: 3px solid goldenrod;
  top: 0;
  &.open {
    background: $green !important;
  }
}

.container,
.container-lg,
.container-md,
.container-sm {
  max-width: 100%;
}
.navbar-toggler {
  &:focus {
    outline: none;
  }
  margin-left: auto;
}

.navbar-collapse {
  &.show {
    background: $green !important;
  }
}
