.navbar-brand {
  width: 100px;
  height: 100px;
}

.navbar {
  background: transparent !important;
  position: relative;
  z-index: 5;
}

.container,
.container-lg,
.container-md,
.container-sm {
  max-width: 100%;
}
.navbar-toggler {
  color: blue;
  margin-left: auto;
}

.hamburger-inner {
  color: blue;
}
