.container--left {
    position: relative;

    .list--ingredients {
        padding-inline-start: 0px;
        position: relative;
        left: 10px;
        margin-bottom: 40px;
    }
}

.single--recipe {
    margin: 50px;
}

.link--home {
    img {
        width: 40px;
    }
}


ol {
    padding: 0;
}

.header--title__recipe {}

.header--subtitle__recipe {
    margin-bottom: 20px;
}

section {
    margin: 50px auto 0px;

    @include media-query-min($sm) {

        margin: 75px auto 0px;
    }

    @include media-query-min($md) {

        margin: 100px auto 00px;
    }
}