.service-single--container {
  margin: 30px;
}
.gallery--single {
  list-style: none;
}
.service-gallery {
  margin: 100px 0 80px;
  ul {
    padding: 0;
  }
}
.services--button {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
