.woocommerce-info {
  border-top-color: $green;
  background-color: $cream;
  font-size: 18px;
  font-family: $bodyFont;
  padding-left: 0px;
  color: $grey;
  &:before {
    display: none;
  }
  a {
    font-weight: 600;
    color: $coral !important;
  }
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  border: 3px solid $coral;
  color: $grey;
  display: table;
  background: transparent;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 18px;
  transition: all 0.25s ease-in-out;
  margin-bottom: 30px;
  font-family: $bodyFont;
  a {
    font-family: $bodyFont;
    transition: all 0.25s ease-in-out;
    &:hover {
      text-decoration: none !important;
    }
  }
  &:hover {
    border: 3px solid $coral;
    background: $coral;
    transition: all 0.25s ease-in-out;
    color: $cream !important;
    a {
      text-decoration: none !important;
      color: $cream !important;
      transition: all 0.25s ease-in-out;
    }
  }
}
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  border: 2px solid $green;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background: transparent;
}

.woocommerce-billing-fields__field-wrapper {
  input {
    background: transparent !important;
    border: 2px solid $green;
    height: 40px;
  }
}
.woocommerce-additional-fields {
  textarea {
    height: 100px !important;
    background: transparent;
    border: 2px solid $green;
  }
}
.select2-container .select2-selection--single .select2-selection__rendered {
  background: $cream !important;
  border: 2px solid $green !important;
}
.select2-container--default
  .select2-results__option--highlighted[aria-selected],
.select2-container--default
  .select2-results__option--highlighted[data-selected] {
  background: $green !important;
  color: $cream !important;
}
.select2-container--default .select2-selection--single {
  border: 0px;
}
.select2-container--default .select2-results > .select2-results__options {
  background: $cream;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid $grey;
  border-radius: 5px;
}
.select2-search--dropdown {
  background: $cream;
}

.woocommerce table.shop_table {
  font-size: 16px;
  color: $grey;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  background-color: transparent;
}
